/** @define SideBox; use strict */

.SideBox {
  background-color: #D1D3D5;
  display: inline-block;
  width: 33%;
  min-width: 10%;
  white-space: nowrap;
  position: absolute;
  right: 0;
  padding: 9px 0px;
  line-height: 1.6;
  border-bottom-left-radius: 25px;
  z-index: 1;
}
