/** @define AppBase; use strict */
@import 'normalize.css';

body {
  background-image: url("/public/images/bg.png");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
