/** @define AppBase; use strict */
@import 'normalize.css';

body {
  background-image: url('/public/images/bg.png');
  text-align: center;
  font-family: 'Raleway', sans-serif;
  width: 100vw;
  max-width: 736px;
  margin: 0 auto;
}
