.route_tab {
	background-color: #D6483D;
	height: 50px;
	text-align: center;
	margin: 0px 220px 0px 30px;

}

.route_bar {
	background-color: #D6483D;
	height:5px;
	margin: 0px 30px 0px 30px;

}

.route_list {
	background-color: white;
	margin: 0px 30px 0px 30px;
}