/** @define RouteBox; use strict */

.RouteBox {
  color: #FFFFFF;
  background-color: #485158;
  display: inline-block;
  position: absolute;
  right: 0;
  width: 400px;
  padding: 50px 0px 0px 0px;
  margin-top: 78px;
  margin-bottom: 0px;
  height: 480px;

  border-radius: 2px;

  /* These are the mobile sizes */
  min-width: 320px;
  min-height: 391px;

  white-space: nowrap;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}
