.Button {
  /* Rectangle 224 Copy 2: */
  background: #D6483D;
  border: none;
  border-radius: 9px;

  white-space: normal;

  /* LOG IN: */
  font-family: .AppleSystemUIFont;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 3px;
  line-height: 35px;
  width:25%;
}
.current_user, .current_routes {
  text-align: center;
  border: 3px solid #FFFFFF;
  margin-left: 45px;
  margin-right: 45px;
}
.current_user {
  border-bottom: none;
  padding-top: 18px;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 600;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.current_routes {
  border-top: none;
  padding-bottom: 20px;
  font-size: 17px;
  font-weight: lighter;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.current_link,
.link_item:hover {
  border-color: red;
  border-style: groove;
}

.current_link .caption,
.current_link .fa,
.link_item:hover .caption,
.link_item:hover .fa {
  color: red;
}

.link_item {
  color: #343c4a;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 83px;
  border-width: 0;
  border-bottom-width: 2px;
  cursor: pointer;
}

.title {
  font-size: 56px;
  font-weight: lighter;
}

div.bottom_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  width: 102px;
  height: 101px;

  content: url("/public/images/ct_white_logo.png");
}
.caption {
  font-size: 13px;
  padding: 2px;
}

/* Grid for routes list */
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    padding: 20px;
    background-color: #D3D3D3;
    border: 1px solid white;
    border-radius: 5px;
}
