.butt {
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 30px;
  height: 20px;
  border-radius: 5px;
  opacity: 0.75;
  cursor: pointer;
  z-index: 2;
  background-color: grey;
}

/* Hamburger Menu */
div.Menu {
  background-color: white;
}

/*.Menu span {
  transition: transform 0.3s;
}

/* active state, i.e. menu open
.Menu.is-active {
  background-color: #166888;
}

.Menu.is-active span {
  right: -200px;
}
*/

.current_user, .current_routes {
  text-align: center;
  border: 3px solid #FFFFFF;
  margin-left: 45px;
  margin-right: 45px;
}
.current_user {
  padding: 18px;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 5px;
}
/* This is no longer implemented in index.js
.current_routes {
  border-top: none;
  padding-bottom: 20px;
  font-size: 17px;
  font-weight: lighter;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}*/

.link_item.active,
.link_item:hover {
  border-color: red;
  border-style: groove;
}

.link_item.active .caption,
.link_item.active .fa,
.link_item:hover .caption,
.link_item:hover .fa {
  color: red;
}

.link_item {
  color: #343c4a;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 83px;
  border-width: 0;
  border-bottom-width: 2px;
  cursor: pointer;
  text-decoration: none;
}
.hamburger {
  color: #343c4a;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 60px;
  cursor: pointer;
  text-decoration: none;
  z-index: 2;
  position: absolute;
  margin: 10px;
}

.title {
  font-size: 56px;
  font-weight: lighter;
}

div.bottom_logo {
  display: block;
  margin: 155px auto;
  content: url("/public/images/ct_white_logo.png");
}

.caption {
  font-size: 13px;
  padding: 2px;
}
