.user_name_logout{
    float:right;
    white-space: nowrap;
  }

i.fa.fa-user{
  color: red;
}

.red {
  color: red;
}

.RouteBox{
  color:white;
}

.current_link{
  border-color: red;
  border-style: groove;
  display: inline-block;
}

h3.current_user{
  white-space: nowrap;
  padding-left: 30%;
}

h4.current_routes{
  white-space: nowrap;
  padding-left: 10%;
}