.Input {
  background: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 9px;

  font-family: 'Raleway', sans-serif;
  font-size: 18px;

  line-height: 35px;
  max-width: 250px;
  width: 95vw;

  margin: 0 auto;
  margin-bottom: 15px;
  display: block;
}

.Button {
  /* Rectangle 224 Copy 2: */
  background: #D6483D;
  border: none;
  border-radius: 9px;

  white-space: normal;

  /* LOG IN: */
  font-family: .AppleSystemUIFont;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 3px;
  line-height: 35px;
  max-width: 278px;
  width: 95vw;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.role {
  display: block;
  margin-left: auto;
  margin-right: auto;

  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 2px;

  white-space: normal;

  /* LOG IN: */
  font-family: .AppleSystemUIFont;
  font-size: 12px;
  font-weight: 100;

  color: #FFFFFF;
  letter-spacing: 3px;
  line-height: 30px;
  width: 100px;
}

.Login {
  padding-top: 180px;
}

.my_logo {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;

  background-image: url("/public/images/ct_white_logo.png");
  background-repeat: no-repeat;
  background-position: center top;
}
