/** @define TopBar; use strict */

.TopBar {
  height: 77px;
  background-color: #343C4A;
  background-image: url("/public/images/ct_white_logo.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 62px;
  background-position-y: 9px;
  z-index: 1;
}
